*{
  margin :0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.App{
  width:100em;
  height: 100vh; 
  display: flex; 
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.btns{
  width: 500px;
  display: grid;
  grid-template-columns: 250px 2fr;
  align-items: center; 
  justify-content: center;
  grid-gap: 10 px;
}